//Color
$color-black: #333;
$color-border: #f7f7f7;
$color-button-blue: #4A90E2;

$color-red: #FF753A;
$color-green: #08DDC1;
$color-background: #EDF2F6;
$color-white: #fff;

//Spacing

$s_size : 1.2rem;
$m_size: 1.6rem;
$l_size: 3.2rem;
$xl_size: 4.8rem;
$breakpoint: 45rem;